<div>
  <h2 id="page-heading" data-cy="ScoreHeading">
    <span>Scores</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-score"
        [routerLink]="['/admin/game/score/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Score </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="scores?.length === 0">
    <span>No scores found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="scores && scores.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Points</span></th>
          <th scope="col"><span>Wins</span></th>
          <th scope="col"><span>Losses</span></th>
          <th scope="col"><span>Draws</span></th>
          <th scope="col"><span>Goals For</span></th>
          <th scope="col"><span>Goals Against</span></th>
          <th scope="col"><span>Goal Difference</span></th>
          <th scope="col"><span>Season</span></th>
          <th scope="col"><span>Team</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let score of scores; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/admin/game/score', score.id, 'view']">{{ score.id }}</a>
          </td>
          <td>{{ score.points }}</td>
          <td>{{ score.wins }}</td>
          <td>{{ score.losses }}</td>
          <td>{{ score.draws }}</td>
          <td>{{ score.goalsFor }}</td>
          <td>{{ score.goalsAgainst }}</td>
          <td>{{ score.goalDifference }}</td>
          <td>
            <div *ngIf="score.season">
              <a [routerLink]="['/admin/game/season', score.season.id, 'view']">{{ score.season.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="score.team">
              <a [routerLink]="['/admin/game/team', score.team.id, 'view']">{{ score.team.name }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/admin/game/score', score.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/admin/game/score', score.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(score)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
