<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="turn">
      <h2 data-cy="turnDetailsHeading"><span>Turn</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ turn!.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ turn!.name }}</span>
        </dd>
        <dt><span>Elimination Enabled</span></dt>
        <dd>
          <span>{{ turn!.eliminationEnabled }}</span>
        </dd>
        <dt><span>Start Date</span></dt>
        <dd>
          <span>{{ turn!.startDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>End Date</span></dt>
        <dd>
          <span>{{ turn!.endDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Season</span></dt>
        <dd>
          <div *ngIf="turn!.season">
            <a [routerLink]="['/admin/game/season', turn!.season.id, 'view']">{{ turn!.season.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/admin/game/turn', turn!.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
