<div>
  <h2 id="page-heading" data-cy="MatchHeading">
    <span>Matches</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="'spin'"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-match"
        [routerLink]="['/admin/game/match/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Match </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="matches?.length === 0">
    <span>No matches found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="matches && matches.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Home Goals</span></th>
          <th scope="col"><span>Away Goals</span></th>
          <th scope="col"><span>Status</span></th>
          <th scope="col"><span>Match Date</span></th>
          <th scope="col"><span>Home Team</span></th>
          <th scope="col"><span>Away Team</span></th>
          <th scope="col"><span>Turn</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let match of matches; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/admin/game/match', match.id, 'view']">{{ match.id }}</a>
          </td>
          <td>{{ match.homeGoals }}</td>
          <td>{{ match.awayGoals }}</td>
          <td>{{ match.status }}</td>
          <td>{{ match.matchDate | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="match.homeTeam">
              <a [routerLink]="['/admin/game/team', match.homeTeam.id, 'view']">{{ match.homeTeam.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="match.awayTeam">
              <a [routerLink]="['/admin/game/team', match.awayTeam.id, 'view']">{{ match.awayTeam.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="match.turn">
              <a [routerLink]="['/admin/game/turn', match.turn.id, 'view']">{{ match.turn.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/admin/game/match', match.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/admin/game/match', match.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(match)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
