<div>
  <h2 id="page-heading" data-cy="TurnHeading">
    <span>Turns</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-turn"
        routerLink="/admin/game/turn/new"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Turn </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="turns?.length === 0">
    <span>No turns found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="turns && turns.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Name</span></th>
          <th scope="col"><span>Turn Number</span></th>
          <th scope="col"><span>Elimination Enabled</span></th>
          <th scope="col"><span>Start Date</span></th>
          <th scope="col"><span>End Date</span></th>
          <th scope="col"><span>Season</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let turn of turns; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/admin/game/turn', turn.id, 'view']">{{ turn.id }}</a>
          </td>
          <td>{{ turn.name }}</td>
          <td>{{ turn.turnNumber }}</td>
          <td>{{ turn.eliminationEnabled }}</td>
          <td>{{ turn.startDate | formatMediumDatetime }}</td>
          <td>{{ turn.endDate | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="turn.season">
              <a [routerLink]="['/admin/game/season', turn.season.id, 'view']">{{ turn.season.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/admin/game/turn', turn.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/admin/game/turn', turn.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(turn)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
